
h1 {
    color: rgba(38, 12, 131, 0.699);
}

* {
    border: solid;
}


.header{
    background-color :rgb(121, 190, 56);
    display: flex; 
    justify-content : space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h3{
    text-align: center
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}